<form method="post" action="{{ path('activity_area_delete', {'id': activity_area.id}) }}" class="d-inline-block" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet item ?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity_area.id) }}">
	<button class="btn btn-primary ">
		<i class="far fa-trash-alt"></i>
		Supprimer
	</button>
</form>
