{% extends 'base.html.twig' %}

{% block title %}Nouveau secteur d'activité{% endblock %}

{% block body %}
    <h1>Créer un secteur d'activité</h1>
    <a class="d-inline-block btn btn-primary" href="{{ path('activity_area_index') }}"><i class="fas fa-arrow-left"></i> Retour à la liste</a>

    {{ include('activity_area/_form.html.twig') }}
{% endblock %}
