{% extends 'base.html.twig' %}

{% block title %}Nouveau Support{% endblock %}

{% block body %}
    <h1>Créer un support</h1>
    <a class="d-inline-block btn btn-primary" href="{{ path('support_index') }}"><i class="fas fa-arrow-left"></i> Retour à la liste</a>

    {{ include('support/_form.html.twig') }}
{% endblock %}
