@import '_vars';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import "~@fortawesome/fontawesome-free/scss/solid";
@import 'login';
@import 'navbar';
@import 'show';
@import 'pagination';

body {
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    .content {
        padding: 0 15px;
    }
}

.publicity-edit-file {
    max-height: 15vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.alert {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 5;

    &-error {
        background: #f8d7da;
        border-bottom: #f5c6cb solid 1px;
        color: #a82d24;
    }

    &-information {
        background: lightgreen;
        border-bottom: lime solid 1px;
    }
}