<form method="post" action="{{ path('support_type_delete', {'id': support_type.id}) }}" class="d-inline-block" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet item ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ support_type.id) }}">
    <button class="btn btn-primary"><i class="far fa-trash-alt"></i> Supprimer</button>
</form>
