{% extends 'base.html.twig' %}

{% block title %}Liste des types de support
{% endblock %}

{% block body %}
	<h1>Liste des types de support</h1>
	<a href="{{ path('support_type_new') }}" class="btn btn-primary my-2">Ajouter</a>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th scope="col">Type</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for type in support_types %}
				<tr>
					<td class="align-middle">{{ type.label }}</td>
					<td class="align-middle">
						<a href="{{ path('support_type_show', {'id': type.id}) }}">
							<i class="far fa-eye"></i>
							Voir</a><br>
						<a href="{{ path('support_type_edit', {'id': type.id}) }}">
							<i class="far fa-edit"></i>
							Editer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
