<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{{ encore_entry_link_tags('app') }}
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<div class="{% if app.request.get('_route') != 'app_login' %}wrapper{% endif %}">
			{% if app.request.get('_route') != 'app_login' %}
				{% include "_navbar.html.twig" %}
			{% endif %}
			<div class="content w-100"> {% block body %}{% endblock %}
				</div>
			</div>
			{{ encore_entry_script_tags('app') }}
			{% block javascripts %}{% endblock %}
		</body>
	</html>
