{% extends 'base.html.twig' %}

{% block title %}Statuts de prospects
{% endblock %}

{% block body %}
	<h1>Statuts de prospects</h1>
	<a href="{{ path('prospect_status_new') }}" class="btn btn-primary">Ajouter un statut</a>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for status in prospect_statuses %}
				<tr>
					<td class="align-middle">{{ status.label }}</td>
					<td class="align-middle">
						<a href="{{ path('prospect_status_show', {'id': status.id}) }}">
							<i class="far fa-eye"></i>
							Voir</a><br>
						<a href="{{ path('prospect_status_edit', {'id': status.id}) }}">
							<i class="far fa-edit"></i>
							Editer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
