{% extends 'base.html.twig' %}

{% block title %}Nouveau statut de prospect{% endblock %}

{% block body %}
    <h1>Créer un statut de prospect</h1>
    <a class="d-inline-block btn btn-primary" href="{{ path('prospect_status_index') }}"><i class="fas fa-arrow-left"></i> Retour à la liste</a>

    {{ include('prospect_status/_form.html.twig') }}
{% endblock %}
