<form method="post" action="{{ path('publicity_delete', {'id': publicity.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer cet item ?');" class="d-inline-block">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publicity.id) }}">
    <button class="btn btn-primary d-inline-block"><i class="far fa-trash-alt"></i> Supprimer</button>
</form>
