{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>
    <a class="d-inline-block btn btn-primary" href="{{ path('user_index') }}"><i class="fas fa-arrow-left"></i> Retour à la liste</a>

    {{ include('user/_form.html.twig') }}
{% endblock %}
